/* COMMON STYLES */
.logo_text{
    
    /* color: #000000 !important;
    font-family: Mallory-Medium,'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
    font-weight: 600; */

    font-size: 18px;
    /* font-size: 1.15rem; */
    line-height: 1.2;
    font-family: yale,TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
    font-weight: 600;
    color: #00356b;
    text-decoration: none;
}

p{
    /* color: #000000 ;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 1.2;
    letter-spacing: .54px;
    font-family: yale,TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif; */

    font-family: "Mallory",Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 1.0625em;
    line-height: 1.85;
    color: #222222;
}

html {
  scroll-behavior: smooth;
}

.heading-2{
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 1.2;
    font-family: yale,TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
    font-weight: 400;
    color: #00356b;
}

body,
html {
    overflow-x: hidden;
}


 /* navbar */
nav.navbar.navbar-expand-lg.nav_bar{
    /* padding: 15px 0px; */
    background-color: #fff;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 99;
}

.collapse ul li a{
    color: #000000 !important;
    font-size: 16px;
    /* line-height: 1.21428571; */
    font-family: Mallory-Medium,'Gill Sans','Gill Sans MT',Calibri,Arial,sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: .75px;
    word-spacing: 1.25px;
    text-transform: uppercase;
    letter-spacing: .55px;
}

.header_links .nav-item a{
    margin-left: 10px;
    text-align: center;
}

.navbar-toggler{
    border-color: #2663b2 !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow:none !important;
}

a.nav-link.active{
    color: #2663b2 !important;
}


/* HOME */
.start{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 50px solid #fff;

}
/* .job-title{
    font-size: 20px;
    font-family: yale,TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
    color:#ffffff;

} */


/* TERMINAL */
/* .about-terminal{
    margin : 0px 30px;
} */

.terminal-header {
    display: flex;
    align-items: center;
    height: 28px;
    width: 100%;
    background-color: #00356b;
    border-radius: 8px 8px 0 0;
}

.terminal-header-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 10px;
}

.terminal-window {
    background-color: #FEFFFF;
    width: 100%;
    height: 100%;
    border-radius: 0 0 8px 8px;
    padding: 2px;
    box-shadow: 0 50px 100px rgba(50, 50, 93, .15), 0 15px 35px rgba(50, 50, 93, .2), 0 5px 15px rgba(0, 0, 0, .12);
    
}

.terminal-window .stat:first-child {
    padding-top: 0px;
}

.terminal-window a {
    color: #1b130d;
}

.stat {
    margin: 20px;
}

.input-stat {
    display: block;
    font-family: yale,TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
    font-weight: 600;
    font-size: 18px;
    color: #150f0a;
    margin: 3px 0;
    position: relative;

    
}

.input-stat:before {
    content: ">\A0";
}

.output-stat {
    display: block;
    font-family: "Mallory",Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-size: 1.0625em;
    line-height: 1.85;
   
    color: #00356b;
    margin: 3px 0;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
    animation-fill-mode: backwards;
    padding: 5px;
    word-break: break-word;
}

@keyframes example {
    from {
        left: 280px;
    }
    to {
        left: 0px;
        color: rgb(90, 93, 122, 0.8);
    }
}


/* cards */
/* .portfolio{
    margin: 0px 55px;
} */

.card{
    border: none !important;
}

.project-card {
    box-shadow: 0 50px 100px rgba(50, 50, 93, .05), 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .1);
    padding: 20px;
    border-radius: 8px;
    display: flex;
}

.card-text  {
    padding: 0px 40px !important;   
}

.card-tags {
    text-align: center;
}


.chip{
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    border-radius: 25px;
    background-color: #c4d6e2; 
    margin: 5px; 
}

.allpages_btns{
    background-image: linear-gradient(to right, #00356b , #4bbfc9);
    box-shadow: 0 1.2px 3.1px 0 rgba(55, 52, 169, 0.02), 0 5.5px 6.5px 0 rgba(55, 52, 169, 0.03), 0 13.4px 13px 0 rgba(55, 52, 169, 0.04), 0 25.8px 25.5px 0 rgba(55, 52, 169, 0.04), 0 43.4px 46.9px 0 rgba(55, 52, 169, 0.05), 0 67px 80px 0 rgba(55, 52, 169, 0.07);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    color: #ffffff
}


/* FOOter */
.footer_main_div{
    background-color: #222;   
    margin-top: 85px !important;
}

h4{
    color: #63aaff;   
}


.all_footer_text{
    color: #ffffff;
}

.icons_colors{
    color: #ffffff;
    margin: 0px 10px;
    font-size: 25px;
}
.view_scorce_icon{
    color: #ffffff;
    margin: 0px 10px;
    font-size: 20px;
}

.icons_colors:hover{
    color: #978d85;
}

.footer-sub-txt{
    font-size: 15px;
    color: #848d85;
}

#btn-back-to-top {
    background-color: #00356b;
    border-width: 2px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
    min-width: 25px;
    color: white;
}

#btn-back-to-top:focus{
    box-shadow: none !important;
}




.output_py{
     font-weight: normal;
    font-size: 1.0625em;
    line-height: 1.85;

    color: #00356b;
    margin: 3px 0;
    padding: 5px;
    word-break: break-word;
}

.nav_container{
    background-color: #ffffff;
}
.view_scorce_div{
    text-align: end ;
}
@media screen and (min-width: 320px) and (max-width: 576px) {
    .start{
        border: 12px solid #ffffff !important; 
    }
    .view_scorce_div{
        text-align: center !important;
    }
}
@media screen and (min-width: 320px) and (max-width: 990px) {
    .navbar-collapse{
        background-color: #ffffff;
    }
}

/* @media screen and (max-width: 400px) {
} */


blockquote {
    text-align: center;
    font-size: 22px;
    line-height: 1.2;
    font-family: yale,TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
    font-weight: 400;
    color: #00356b;
    text-decoration: none;
}